<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vegana Eats</title>
    <link rel="stylesheet" href="/stylesheets/home2.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
        <header>
                <h3>Vegana Eats</h3>
                <nav>
                    <a href="#">Home</a>
                    <a href="/recipes">Recipes!</a>
                </nav>
        </header>

        <section class="hero">
            <div class="background-image"></div>
            <div class="hero-content">
            <h1>Welcome to Vegana Eats!</h1>
            <p class="lead">  Explore our Plant based recipes. <br>
                Feel free to let us know what you think! <br>
                Lets save our furry friends together!
            </p>
            <form action="/recipes">
                <button>View Recipes</button>
            </form>
        </div>
        </section>

        <section class="facts">
            <h3 class="title">Plant Based for your health! </h3>
          <hr>
          <ul class="grid">
            <li>
              <i class="fa fa-medkit fa-4x" aria-hidden="true"></i>
              <h4>DIABETES</h4>
              <p>One daily serving of meat (the size of a deck of cards) increases diabetes risk by
                19%. 9 Diabetes rates are highest among nonvegetarians and lowest among
                vegans.</p>
            </li>
            <li>
              <i class="fa fa-id-badge fa-4x" aria-hidden="true"></i>
              <h4>OBESITY</h4>
              <p> 100% Plant-based diets are shown to be best for weight loss. Vegetarian (lacto-ovo) diets
                are better for weight loss than non-vegetarian diets, but not as
                good as 100% plant-based.13 The more meat a person eats,
                the more likely they are to be obese.</p>
            </li>
            <li>
              <i class="fa fa-heartbeat fa-4x" aria-hidden="true"></i>
              <h4>HEART DISEASE</h4>
              <p> Plant-Based Diets reduce heart disease risk by 40%. Eating one egg per day
                lowers life expectancy as much as smoking 5 cigarettes per day.</p>
            </li>
            <li>
              <i class="fa fa-hospital-o fa-4x" aria-hidden="true"></i>
              <h4>CANCER</h4>
              <p> The blood of people eating 100% plantbased diets has been shown to fight
                cancer cells far better than the blood of people eating a standard American diet.</p>
            </li>
          </ul>
          <h5 class="source"> Source: https://apnm.org/wp-content/uploads/2019/04/PBE_Health_FINAL.pdf</h5>
          </section>

          <section class="facts">
            <h3 class="title">Plant Based for the enviroment! </h3>
          <hr>
          <ul class="grid">
            <li>
              <i class="fa fa-pagelines fa-4x" aria-hidden="true"></i>
              <h4>Agriculture</h4>
              <p>Every 6 seconds an acre of the rainforest is cut down for animal agriculture. That equals 14,400cres per day.</p>
            </li>
            <li>
              <i class="fa fa-paw fa-4x" aria-hidden="true"></i>
              <h4>Animals </h4>
              <p>More tha 56 billion farmed animals are killed every year. This does not include fish and sea animals, whose numbers are so high they measured in tonnes. </p>
            </li>
            <li>
              <i class="fa fa-tint fa-4x" aria-hidden="true"></i>
              <h4>water</h4>
              <p>Approximately 50% of all the water used in the U.S is for animal agriculture. It takes 2,400 gallons of water to produce one pound of meat.</p>
            </li>
            <li>
              <i class="fa fa-bolt fa-4x" aria-hidden="true"></i>
              <h4>Weather</h4>
              <p>extreme weather conditions re likely to worsen as limate change continues. Eliminating nimal products from your diet is a great way to lower your carbon footprint!</p>
            </li>
          </ul>
          <h5 class="source"> Source: https://i.pinimg.com/originals/e7/e7/a1/e7e7a1ec972fb4853072b9fd024d99d7.png</h5>
          </section>

          <section class="signup">
            <h4 class="title">Sign up for our Newsletter!</h4>
            <p>We'll let you know when we have new recipes for you to try!</p>
            <hr>
            <form action="#">
            <input type="email" placeholder="Email"> 
            <button class="btn1">Submit</button>
          </form>
          </section>

        <footer>
            <p>&copy; 2021 </p>
            <p>Together we can save the world!</p>
              <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
        </footer>
    </div>


</body>

</html>